 /* responsive  */

 @media (max-width: 769px) {
     nav {
         padding: 15px 20px;

     }

     nav img {
         width: 130px;

     }

     #features {
         padding: 8vw 4vw 0 4vw;
     }

     #course {
         padding: 8vw 4vw 0 4vw;


     }

     #registration {
         padding: 6vw 4vw 6vw 4vw;
     }

     #registration .remainder .time {
         display: flex;
         flex-wrap: wrap;
         margin-top: 40px;
     }
 }