/* .form {
    width: 25%;
    margin: 30px 30px;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.form input {
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid, rgb(84, 40, 241);
    outline: none;
}

.form .btn {
    margin-top: 20px;
} */


/* .form a.yellow {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 15px 30px;
    background-color: aquamarine;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background-color: rgb(212, 212, 84);
    transition: o.3s ease;

}

.form a.yellow:hover {
    color: rgb(228, 228, 102);
    background-color: white; */

/* } */